{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ category.name }}
{% endblock %}

{% block body_block %}
    <br/>
    {% if category %}
        <h1>{{ category.name }}</h1>

        {% if pages %}
            <ul>
            {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
        <strong>No pages currently in category.</strong>
            <br/><br/>
        {% endif %}

            {% if user.is_authenticated %}
                <ul>
                   <a class="btn btn-primary" href="/rango/category/{{category.slug}}/add_page/" role="button">Add a New Page</a>
                </ul>
            {% endif %}

    {% else %}
        The specified category does not exist!
    {% endif %}
{% endblock %}

