{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ category.name }}
{% endblock %}

{% block body_block %}
    <br/>
    {% if category %}
        <h1>{{ category.name }} </h1>

        <div>
            <strong id="like_count">{{ category.likes }}</strong> people like this category
            {% if user.is_authenticated %}
            <button id="likes" data-catid="{{category.id}}" class="btn btn-primary btn-sm" type="button">
                Like
            </button>
            {% endif %}
        </div>

        {% if pages %}
            <ul>
            {% for page in pages %}
                <li><a href="{% url 'goto' %}?page_id={{ page.id }}">{{ page.title }}</a>
                {% if page.views > 1 %}
                ({{ page.views }} views)
                {% elif page.views == 1 %}
                ({{ page.views }} view)
                {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% else %}
        <strong>No pages currently in category.</strong>
            <br/><br/>
        {% endif %}

            {% if user.is_authenticated %}
                <ul>
                   <a class="btn btn-primary" href="/rango/category/{{category.slug}}/add_page/" role="button">Add a New Page</a>
                </ul>
            {% endif %}

    {% else %}
        The specified category does not exist!
    {% endif %}

    <hr/>

    <form class="form-inline" id="user_form" method="post" action="{% url 'show_category' category.slug %}">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" size="50" name="query" value="{{ query }}" id="query" />
        </div>
        <button class="btn btn-primary" type="submit" name="submit" value="Search">Search</button>
    </form>

    <div>
        {% if result_list %}
            <h3>Results</h3>
            <!-- Display search results in an ordered list -->
            <div class="list-group">
                {% for result in result_list %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading"><a href="{{ result.link }}">{{ result.title }}</a> </h4>
                        <p class="list-group-item-text">{{ result.summary }}</p> </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>



{% endblock %}

