<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>

        <div>
            hey there partner! <br />
        </div>


        <div>
            <br />
            <strong>Most Liked Categories.</strong><br />
        </div>

        <div>
        {% if categories %}
        <ul>
            {% for category in categories %}
                <li>
                <a href="/rango/category/{{ category.slug }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        </div>

        <div>
            <strong>Most Viewed Pages.</strong><br />
        </div>


         <div>
        {% if pagelist %}
        <ul>
            {% for page in pagelist %}
                <li>
                <a href="{{ page.url }}">{{ page.title }}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no pages present.</strong>
        {% endif %}
        </div>


        <div>
            <a href="/rango/about/">About</a><br />
             <!--Image-->
            <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />

        </div>
    </body>


</html>